@import "./variables";

/*NOSOTROS*/

.valores{
  background-image: linear-gradient(to bottom, $color-verde, $color-gris);
        &__titulos{
            color: $color-white;
            font-size: 30px;
            text-align: center;
            font-weight: bold;
            padding-top: 25px;
            padding-bottom: 25px;
        }
}

.badge{
  background-color: $color-rosa;
  margin-top: -1.5rem;
}

.subtitulos{
  color: $color-verde;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  text-align: center;
  font-weight: bold;
}


.textos {
  color:$color-darkslategrey;
  padding-left: $padding-left * 2;
  padding-right: $padding-right * 2;
  text-align: center;
}


