
$color-verde:#488281;
$color-disabled:rgb(180, 179, 179);
$color-gris: #f8f9fa;
$color-option:rgb(124, 122, 122);
$color-white: white;
$color-darkslategrey: darkslategrey;
$color-rosa: #ee8967;
$padding-left: 20px;
$padding-right: 20px;
$margin-bottom: 10px;